*.suo
*.pidb
*.userprefs
/*.sln
/*.unityproj
/_ReSharper.*
/Temp
/Library*
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-vs.csproj
/*.csproj
/*.user
/.idea
/Dummy/Dummy.iml
/Scripts/android/log.txt
/Assets/Assembly-CSharp-Editor.pidb.meta
/Assets/Assembly-CSharp-firstpass.pidb.meta
/Assets/Assembly-CSharp.pidb.meta
/Assets/Assembly-UnityScript-firstpass.pidb.meta
Builds
/Assets/Games.meta
/Assets/UnityVS*
/*.suo
Thumbs.db
Thumbs.db.meta
